---
layout: default
title: "Blog"
hero_image: "/assets/images/blog.jpg"
hero_title: "Blog"
pagination:
  enabled: true
  collection: blog
permalink: /blog/
---

<!-- Blog Section -->
<section class="blog-section">
    <div class="section-title">
        <h2><span>Blog</span></h2>
    </div>
    <div class="row">
        {% assign sorted_blog = site.blog | sort: 'date' | reverse %}
        {% for item in sorted_blog %}
            {% include blogbox.html %}
        {% endfor %}
    </div>
</section>

<!-- Pagination -->
<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>