---
layout: default
title: "Meet the Sinners"
hero_image: "/assets/images/team.jpg"
hero_title: "Team"
permalink: /team/
---

<!-- Team Page -->
<section class="team-section">
    <div class="container">
        <!-- Define Role Order -->
        {% assign role_order = "Director,Research Professor,Postdoc,Student,Research Assistant,Lab Manager,SKKU Faculty Collaborators" | split: "," %}
        
        <!-- Group Team by Role -->
        {% assign grouped_team = site.team | group_by: "role" %}
        
        <!-- Iterate by Defined Role Order -->
        {% for role in role_order %}
            {% assign group = grouped_team | where: "name", role %}
            {% if group.size > 0 %}
                <div class="section-title">
                    <h2><span>{{ role }}</span></h2>
                </div>
                <div class="row justify-content-center">
                    {% for member in group[0].items %}
                        {% include teambox.html item=member %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
