---
layout: default
title: "Meet the Sinners"
hero_image: "/assets/images/team.jpg"
hero_title: "Team"
permalink: /teams/
---

<!-- Team Section Grouped by Roles -->
<section class="team-section">
    <div class="container">
        <!-- Grouped by Role -->
        {% assign grouped_team = site.team | group_by: "role" %}
        {% for group in grouped_team %}
            <div class="section-title">
                <h2><span>{{ group.name }}</span></h2>
            </div>
            <div class="row justify-content-center">
                {% for member in group.items %}
                    {% include teambox.html item=member %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
