---
layout: home
title: Home
hero_title: "Perceptual<br>Intelligence<br>Laboratories"
---

{% if page.url == "/" %}

<!-- Featured Posts
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span><a href="{{ site.baseurl }}/media/news" style="color: inherit; text-decoration: none;">News</a></span></h2>
    </div>
    <div class="row">

        {% for post in site.posts %}
            {% if post.featured == true %}
                {% include featuredbox.html %}
            {% endif %}
        {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Blog</span></h2>
    </div>
    <div class="row listrecent">

        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}

    </div>
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>