<!-- begin blogbox -->
<div class="col-lg-4 col-md-6 mb-30px card-group"> <!-- Adjust the column size -->
    <div class="card h-100 listfeaturedtag">
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
            </h2>
            <p class="post-date">{{ item.date | date: "%B %d, %Y" }}</p>
            <h4 class="card-text">{{ item.excerpt | strip_html | truncatewords:20 }}</h4>
        </div>
    </div>
</div>
<!-- end blogbox -->