<!-- begin teambox -->
<div class="col-md-6 mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <!-- Image Section -->
            <div class="col-12 col-md-12 col-lg-5 pr-lg-0">
                <div class="h-100">
                    <div class="wrapthumbnail">
                        <a href="{{ member.url }}">
                            {% if member.image %}
                                <img class="featured-box-img-cover" src="{{ member.image }}">
                            {% else %}
                                <img class="featured-box-img-cover" src="/assets/images/default-team.jpg">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <!-- Content Section -->
            <div class="col-12 col-md-12 col-lg-7">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body text-left" style="padding-left: 20px;">
                            <h2 class="card-title" style="font-size: 1.5rem; font-weight: 700; line-height: 1.25; margin-top: 15px;">
                                <a href="{{ site.baseurl }}{{ item.url }}" class="text-dark">{{ item.name }}</a>
                            </h2>
                            <h4 class="card-text" style="color: rgba(0, 0, 0, .44); font-size: 0.95rem; line-height: 1.6; font-weight: 400; margin-top: 30px;">
                                {{ item.position }}
                            </h4>
                            <p class="card-text" style="color: rgba(0, 0, 0, .44); font-size: 0.95rem; line-height: 1.6; font-weight: 400; margin-top: 30px;">
                                {{ item.description | strip_html | truncatewords: 20 }}
                            </p>
                        </div>
                        <div class="card-footer b-0 bg-white mt-auto">
                            <div class="wrapfooter">
                                {% if item.research_interest %}
                                    <h4 class="card-text" style="color: rgba(0, 0, 0, .44); font-size: 0.95rem; line-height: 1.6; font-weight: 400; margin-top: 30px;">
                                        <strong style="color: #000;">Research Interest:</strong> {{ item.research_interest }}
                                    </h4>
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end teambox -->